

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div >
        <h5  style="text-align:center; margin-top:20px;" >Not Authorized</h5>
        
      </div>
      <div class="modal-body">
	
		   Sorry, you need login to create a comic <br>
		  <br>
		  <div >
			  <a class="login-first" href="/signup">Sign Up</a> Or <a class="login-first" href="/login">Log In</a> 
		  </div>
		  
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:steelblue;">Close</button>
      
      </div>
    </div>
  </div>
</div>
