<%- include("partials/header")%>

<h1 class="hometitle">
	Welcome  to Series Snaps
</h1>
<h3 class="hometext">
	Explore you favourite series!!
</h3>

<div class="container" >
	<div class="holder"style="width:80%; magin: 0 auto; ">
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
   <a href="/series/6093a5248bf550051babf39f">   <img style="width:60%;
	height:500px;"src="https://i.pinimg.com/originals/c3/88/f5/c388f5d35819f5c8f16d3c0939079ac0.jpg" class="d-block w-100" alt="..."></a>
    </div>
    <div class="carousel-item">
   <a href="/series/609119c422c5bf0d28ef5d3d">  <img style="width:60%;
	height:500px;"src="https://i.pinimg.com/originals/c7/2f/89/c72f89b3062936a6daff6dc5effb2b8e.jpg" class="d-block w-100" alt="..."></a> 
    </div>
    <div class="carousel-item">
    <a href="/series/6093a3f18bf550051babf39d"> <img style="width:60%;
	height:500px;"src="https://www.masala.com/public/images/2021/04/03/b4ERr2LQcbAMctgTpJVA2B-1200-80.jpeg" class="d-block w-100" alt="..."></a> 
    </div>
	   <div class="carousel-item">
     <a href="/series/6093963f6f8c810015519ec0"> <img style="width:60%;
	height:500px;"src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202001/Breaking_Bad.jpeg?Ifrqi.v01Y0KfAlAyY172HCu8HZTJJvy&size=770:433" class="d-block w-100" alt="..."></a>
    </div>
	    <div class="carousel-item">
     <a href="/series/60943fe857eae2273b66b451"> <img style="width:60%;
	height:500px;"src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSXLES0Mhtmt1w13wMBeNaN4SQa66rBR2XQqys_MwJVJWCr14gy" class="d-block w-100" alt="..."></a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
	</div>

</div>
<div style="margin-top:50px">
	
	
</div>
<%- include("partials/footer")%>