	<%- include("partials/header")%>





<h1  style="text-align:center;">
	login
</h1>

<div class="container">
	<div class="login-form">
		<form action="/login" method="POST" class="add-form">
	

	<input class="form-control" type="text" name="username" placeholder="username" required >
			<br>
	<input class="form-control" type="password" name="password"  placeholder=" password" required>
			<br>
	<button class="btn btn-outline-success" type="submit">
		
		Login
	</button>
			<br><br>
</form>
	</div>

	
</div>













	<%- include("partials/footer")%>