body{
	margin:0;
	
	margin: 5px, 5px, 5px, 5px;
}
.login-first{
	
	text-decoration: none;

}
.close{
background-color:inherit ;
border:none;
}
.alert{
	text-align:center;
	width: 350px;
	height:60px;

	
	margin: 0 auto;
	margin-top :10px;
}
.close
.comment {
	
	width:50%;

	margin-left:10px;
}
.container{

    
	display: flex;
	
	flex-wrap:wrap;
	justify-content: space-around;
    
	
	
	padding-top:1.5rem;
		
}

.card{
	width: 400px;
	height: auto;
	border: solid darkcyan 3px;
	
	border-radius: 1rem;
	margin-bottom: 30px;
}
.login-form{
	width:400px;

	
}

.pic{
	
	max-width:400px;
	height:auto;
	
	margin-bottom: 10px;
}
.pic img{
	border: solid darkblue 2px;
}


.details{
	max-width:800px;
	margin-top:0px;
	font-size:1.2rem;
	margin-bottom: 10px;
}
.poster{
	width:100%;
	height:400px;

}
.card-img{
	
	max-width=500px;
	width:100%;
	
	height:20rem;
	
	border-radius: 1rem 1rem 0 0 ;
}

.card-title{
	text-align:center;
	font-family: 'Lobster', sans-serif;
	margin =.5rem;
	
	font-weight:400;
	font-size: 1.8rem;
}
.card-text{
	text-align: justify;
  text-justify: inter-word;
   margin: 8px;
	
}
.seemore{
	width: 30%;
	border:none;
	
	
}
.description{
	margin: 0 1rem 1.5rem 1rem;
	font-family:'Kalam', sans-serif;
	
	
	
}

.nav-link{
	color:white;
	
}





